include ../info-set/info-set.data.pug

section.section.pt-0.bg-img-triangles.project
  include ../breadcrumb/breadcrumb
  .layout
    .project-box.bg-white.rounded
      .project-content
        .project-main
          .project-main__left
            .project-slider-wrapper
              .swiper-container.project-slider.js-project-slider
                .swiper-wrapper
                  each item_1 in [1,2,3]
                    .swiper-slide.project-slide.image-fit.rounded
                      img(src="assets/img/content/object/object-slide-1.jpg", alt="")

              .swiper-container.project-thumbs.js-project-thumbs
                .swiper-wrapper
                  each item_2 in [1,2,3]
                    .swiper-slide.project-thumb.image-fit.rounded
                      img(src="assets/img/content/object/object-slide-1.jpg", alt="")

          .project-main__right
            h1.project__title Гаражный кооператив библиотека, барбекю Maytoni

            .project__desc.content-zone
              p Workki - это сеть многофункциональных офисных пространств в Москве. Рабочие места для комфортной работы, переговорные комнаты для продуктивных встреч и площадки для проведения деловых (и не только) мероприятий.
              p Высокий потолок гостиной, выкрашенный в белый цвет, стал фоном для арт-объекта из 22-х подвесовRay. Лаконичные подвесные светильники перекликаются с другими графичными элементами интерьера гостиной, например, библиотекой или камином. Подвесы Ray задают ритм композиции комнаты и освещают не только гостиную, но и зону барбекю перед домом.
              p Торшер Erich освещает зону барную стойку и диван. Матовое стекло плафонов делает свет камерным и уютным, а благодаря креплению к потолку и полу, можно регулировать высоту торшера.

        .project-features.content-zone
          ul
            li Доступ круглосуточно
            li Доступ для гостей
            li Печать документов
            li Часы в переговорных комнатах
            li Event-пространств
            li IT-услуги
            li Skype-переговорные
            li Безлимитный WI-FI
            li Зоны отдыха
            li Игровое пространство
            li Игровое пространство
            li Кафе
            li Лектории
            li Локеры для хранения
            li Мероприятия
            li Ресепшен
            li Фото- и видеосъёмка
            li Чай, кофе и вода
            li Юридический адрес
            li Клининг

      .project__quality.quality
        .quality__logos
          img.quality__logo(src="assets/img/content/certificate-haccp.png" width="151" height="147" alt="")
          img.quality__logo(src="assets/img/content/certificate-iso.png" width="151" height="147" alt="")
        .quality__text.
          Проектирование объектов пищевой промышленности ведется согласно требованиям HACCP (ХАССП), FSSC 22000:2013, а также согласно международному стандарту ISO 22000:2005 "Food safety management
          systems – Requirements for any organization in the food chain" и других требований ISO.


      .project__info-set.info-set-accord#info-set-accord
        each card, index in set
          -var num = index + 1

          .info-set-card.rounded.shadow-lg
            .info-set-card__header.rounded(id='info-set-heading-' + num)
                h2.mb-0
                  button.info-set-card__button.btn.btn-link.btn-block.text-left(
                    type='button'
                    data-toggle='collapse'
                    data-target='#info-set-collapse-' + num
                    aria-expanded='false'
                    aria-controls='info-set-collapse-' + num
                  )
                    span.info-set-card__title
                      span.info-set-card__title-num= card.number
                      span.info-set-card__title-text= card.title

            .info-set-card__content.collapse(
                id='info-set-collapse-' + num
                aria-labelledby='info-set-heading-' + num
                data-parent='#info-set-accord'
              )
                .info-set-card__body.content-zone
                  h3 1. Стоимость работ

                  p Стоимость выполнения работ – один из решающих факторов при выборе подрядчика. В поисках дешевого проекта можно столкнуться с некоторыми проблемами:

                  ul
                    li стоимость работы может подразумевать выполнение не всех разделов проектной документации. Например, стоимость только эскиза ли одного раздела проектной документации.

                    li подрядчик не берет ответственность за сроки и качество выполнения работ;

                    li в работе могут применяться устаревшие типовые решения.

                  p Чтобы заранее исключить подобные заминки просите подрядчика подробно расписать за счет чего формируется стоимость. Чтобы понимать объективность выставленной цены необходимо оценить объем работ, заложенный в стоимость

                  h3 2. Универсальный прайс-лист на проектные и строительные работы

                  p Невозможно установить стоимость выполнения работ на строительство и проектирование сразу после обращения. Если вам сказали цену в первую же минуту, то это, как минимум, непрофессионально. Ведь для составления коммерческого предложения с указанием приблизительной стоимости обычно требуется хотя бы один день.

                  p Предварительная стоимость рассчитывается по сборнику базовых цен (СБЦ). Расчет всегда производится индивидуально по каждому объекту, учитываются региональные коэффициенты. А конечная стоимость формируется после согласования технического задания.

                  p При расчете стоимости проектной документации и строительства учитываются множество факторов: объем работ, назначение, отрасль, климатическая зона, земельный участок, сложность конструктива, этажность, наличие точек подключения инженерных коммуникаций, оборудование, нагрузка на фундамент и т.д.

                  p Например, то, что построено в Краснодаре не всегда можно построить за те же деньги во Владивостоке или Якутске. Даже в пределах одного города стоимость проектирования и строительства будет разниться, потому что грунты могут быть разными, что значительно влияет на стоимость реализации объекта.

                  h3 4. Исполнитель и заказчик в одном регионе – успешный результат

                  p Да, подрядчик находится в том же городе, области, крае, республике.

                  p Да, с ним можно встретиться в любой момент.

                  p Да, вам спокойнее от того, что можно всё контролировать.

                  p Однако, можно ли с уверенностью сказать, что местный подрядчик даст оперативную информацию по объекту? или предоставит такой уровень менеджмента, который поможет пройти весь путь строительства с полным пониманием каждого этапа?

                  p Сейчас большинство вопросов решается посредством электронной почты, мессенджеров или Skype. Поэтому необходимость частых встреч отпадает автоматически.

                  p Для контроля рабочего процесса подрядчика необязательно постоянное присутствие. Внутри компании должны быть продуманы система контроля, составлен график выполнения работ, сформирована рабочая группа, которая отвечает за проект.

                  p Если подрядчик не может гарантировать сроки и предоставление таких графиков, то, будь он даже в соседнем офисе, при дальнейшем сотрудничестве могут возникнуть сложности.

                  h3 5. Наличие лицензии СРО

                  p С 1 июля 2017 года вступил в силу закон ФЗ-№ 372, который внёс изменения в Градостроительный кодекс и ФЗ-№191. Теперь состоять в членстве СРО обязаны юридические лица, которые выполняют работы на основании прямых договоров подряда с:

                  ul
                    li застройщиками;

                    li техническими заказчиками;

                    li лицами, которые имеют разрешение на использование государственной или муниципальной собственности;

                    li лицом, которое эксплуатирует здание.

                  p Состоять в СРО нужно, если планируется участие компании в государственных или коммерческих тендерах, аукционах, торгах.

                  p Если вы обращаетесь в проектную компанию, то спрашивайте не допуск СРО, а выписку из Единого реестра членов СРО. Также в проектной организации должно быть минимум 2 ГИПа.

                  h3 6. Производитель металлоконструкций – проектировщик

                  p Как правило производители металлоконструкций редко разрабатывают все разделы проектной документации, чаще это раздел КР (конструктивные решения): КМ, КМД. То есть решение будет не комплексным и придется искать других подрядчиков на разработку других разделов ПД.

                  p Как любой производитель, такая проектная организация закладывает в проект свой материал, что лишает Заказчика выбора.

                  p Вопрос металлоемкости тоже играет важную роль: производителю напрямую выгодно продаваь тяжелые здания. Однако каждая тонна металла, которую не удалось сэкономить, существенно влияет на стоимость всего объекта

